repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.4
  - repo: https://github.com/sbrunner/hooks
    rev: 1.0.0
    hooks:
      - id: poetry-lock
        additional_dependencies:
          - poetry==1.6.1 # pypi
