[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
safety = "==1.10.3"
markdown-table = "==2020.12.3"
python-magic = "==0.4.24"
requests = "==2.27.0"
Markdown = "==3.3.6"
EditorConfig = "==0.12.3"
google-api-python-client = "==2.33.0"
google-auth-httplib2 = "==0.1.0"
google-auth-oauthlib = "==0.4.6"
"ruamel.yaml" = "==0.17.4"
jsonschema = "==4.3.3"
jsonschema-gentypes = "==0.9.4"
node-vm2 = "==0.4.1"
defusedxml = "==0.7.1"
setuptools = "==60.2.0"
pipenv = "==2021.11.23"
black = "==21.12b0"
click = "==8.0.3"
isort = "==5.10.1"
twine = "==3.7.1"
codespell = "==2.1.0"

[dev-packages]
prospector = {version = "==1.5.3.1", extras = ["with_bandit", "with_mypy"]}
types-requests = "==2.26.3"
types-pyyaml = "==6.0.1"
types-setuptools = "==57.4.5"
types-markdown = "==3.3.10"

[requires]
python_version = "3.8"
