[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
safety = "==1.10.3"
markdown-table = "==2020.12.3"
python-magic = "==0.4.25"
requests = "==2.27.1"
Markdown = "==3.3.6"
EditorConfig = "==0.12.3"
google-api-python-client = "==2.37.0"
google-auth-httplib2 = "==0.1.0"
google-auth-oauthlib = "==0.4.6"
"ruamel.yaml" = "==0.17.4"
jsonschema = "==4.4.0"
jsonschema-gentypes = "==1.0.0"
node-vm2 = "==0.4.3"
defusedxml = "==0.7.1"
setuptools = "==60.9.1"
pipenv = "==2022.1.8"
black = "==22.1.0"
click = "==8.0.3"
isort = "==5.10.1"
twine = "==3.8.0"
codespell = "==2.1.0"

[dev-packages]
prospector = {version = "==1.6.0", extras = ["with_bandit", "with_mypy"]}
types-requests = "==2.27.9"
types-pyyaml = "==6.0.4"
types-setuptools = "==57.4.9"
types-markdown = "==3.3.12"

[requires]
python_version = "3.8"
