[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
safety = "==1.10.3"
markdown-table = "==2020.12.3"
python-magic = "==0.4.25"
requests = "==2.27.1"
Markdown = "==3.3.6"
EditorConfig = "==0.12.3"
google-api-python-client = "==2.45.0"
google-auth-httplib2 = "==0.1.0"
google-auth-oauthlib = "==0.5.1"
"ruamel.yaml" = "==0.17.4"
jsonschema = "==4.4.0"
jsonschema-gentypes = "==1.0.0"
node-vm2 = "==0.4.4"
defusedxml = "==0.7.1"
setuptools = "==62.1.0"
pipenv = "==2022.4.8"
black = "==22.3.0"
click = "==8.1.2"
isort = "==5.10.1"
twine = "==4.0.0"
codespell = "==2.1.0"

[dev-packages]
prospector = {version = "==1.7.7", extras = ["with_bandit", "with_mypy"]}
types-requests = "==2.27.19"
types-pyyaml = "==6.0.6"
types-setuptools = "==57.4.14"
types-markdown = "==3.3.13"

[requires]
python_version = "3.8"
