[tool.black]
line-length = 110
target-version = ['py38']

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = false
use_parentheses = true
line_length = 110

[tool.mypy]
python_version = 3.8
ignore_missing_imports = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_return_any = true
strict = true

[tool.poetry]
name = "c2cciutils"
version = "0.0.0"
description = "Common utilities for Camptocamp CI"
readme = "README.md"
authors = ["Camptocamp <info@camptocamp.com>"]
keywords = ["ci"]
repository = "https://github.com/camptocamp/c2cciutils"
license = "FreeBSD"
packages = [{ include = "c2cciutils" }]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Typing :: Typed",
]
include = [
    "c2cciutils/py.typed",
    "c2cciutils/*.graphql",
    "c2cciutils/*.yaml",
    "c2cciutils/*.json",
    "c2cciutils/*.js",
    "c2cciutils/node_modules/**/package.json",
    "c2cciutils/node_modules/*/*.js",
    "c2cciutils/node_modules/*/src/*.js",
    "c2cciutils/node_modules/*/src/**/*.js",
    "c2cciutils/node_modules/**/lib/*.js",
    "c2cciutils/node_modules/**/lib/*.cjs",
    "c2cciutils/node_modules/**/lib/**/*.js",
    "c2cciutils/node_modules/*/lib/src/**/*.js",
    "c2cciutils/node_modules/**/vendors/*.js",
    "c2cciutils/node_modules/**/modules/*.js",
    "c2cciutils/node_modules/**/prettier/*.js",
]

[tool.poetry.scripts]
c2cciutils = "c2cciutils.scripts.main:main"
c2cciutils-checks = "c2cciutils.scripts.checks:main"
c2cciutils-audit = "c2cciutils.scripts.audit:main"
c2cciutils-publish = "c2cciutils.scripts.publish:main"
c2cciutils-clean = "c2cciutils.scripts.clean:main"
c2cciutils-google-calendar = "c2cciutils.publish:main_calendar"
c2cciutils-k8s-install = "c2cciutils.scripts.k8s.install:main"
c2cciutils-k8s-db = "c2cciutils.scripts.k8s.db:main"
c2cciutils-k8s-wait = "c2cciutils.scripts.k8s.wait:main"
c2cciutils-k8s-logs = "c2cciutils.scripts.k8s.logs:main"
c2cciutils-pin-pipenv = "c2cciutils.scripts.pin_pipenv:main"
c2cciutils-docker-logs = "c2cciutils.scripts.docker_logs:main"
c2cciutils-trigger-image-update = "c2cciutils.scripts.trigger_image_update:main"
c2cciutils-download-applications = "c2cciutils.scripts.download_applications:main"
c2cciutils-docker-versions-gen = "c2cciutils.scripts.docker_versions_gen:main"

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
pipenv = "2022.7.24"
safety = "2.1.1"
markdown-table = "2020.12.3"
python-magic = "0.4.27"
requests = "2.28.1"
Markdown = "3.4.1"
EditorConfig = "0.12.3"
google-api-python-client = "2.55.0"
google-auth-httplib2 = "0.1.0"
google-auth-oauthlib = "0.5.2"
"ruamel.yaml" = "0.17.21"
jsonschema = "4.9.1"
jsonschema-gentypes = "1.2.1"
node-vm2 = "0.4.4"
defusedxml = "0.7.1"
black = "22.6.0"
click = "8.1.3"
isort = "5.10.1"
twine = "4.0.1"
codespell = "2.1.0"
toml = "0.10.2"
debian-inspector = "30.0.0"
PyYAML = "6.0"

[tool.poetry.dev-dependencies]
prospector = { version = "1.7.7", extras = ["with_bandit", "with_mypy", "with_pyroma"] }
pylint = "2.14.5"
mypy = "0.971"
flake8 = "4.0.1"
types-requests = "2.28.8"
types-pyyaml = "6.0.11"
types-setuptools = "62.6.1"
types-markdown = "3.4.0"
types-toml = "0.10.8"
typing-extensions = "4.3.0"

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning", "poetry-plugin-tweak-dependencies-version"]
build-backend = "poetry.core.masonry.api"

[tool.poetry-dynamic-versioning]
enable = true # disable on Docker
vcs = "git"
pattern = "^((?P<epoch>\\d+)!)?(?P<base>\\d+(\\.\\d+)*)"

# format = "{base}.dev{timestamp}" # for dev version
[tool.poetry-plugin-tweak-dependencies-version]
default = "major"
black = "full"
isort = "full"
