safety==1.10.3
markdown-table==2020.12.3
pipenv==2021.11.9
python-magic==0.4.22
requests==2.25.1
black==21.10b0
click==7.1.2
isort==5.8.0
twine==3.5.0
codespell==2.1.0
node-vm2==0.3.7
Markdown==3.3.4
EditorConfig==0.12.3
google-api-python-client==2.2.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
ruamel.yaml==0.17.17
jsonschema==3.2.0
jsonschema_gentypes==0.9.3
