poetry==1.6.1
poetry-plugin-export==1.5.0
poetry-dynamic-versioning[plugin]==0.19.0
poetry-plugin-tweak-dependencies-version==1.4.0
pre-commit==3.8.0
pip==23.3.2
importlib-metadata<8.0.0>=7.0.0
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.17 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.3 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=42.0.8 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
virtualenv>=20.26.6 # not directly required, pinned by Snyk to avoid a vulnerability
