[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prospector = {extras = ["with_mypy", "with_bandit", "with_pyroma"],version = "==1.5.1"}
mypy = "==0.910"
flake8 = "==3.9.2"

[packages]

[requires]
python_version = "3.8"
