poetry==1.2.2
poetry-core>=1.1.0a7 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools==65.5.1
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
