# yaml-language-server: $schema=https://raw.githubusercontent.com/camptocamp/c2cciutils/1.1.48/c2cciutils/schema.json

version:
  branch_to_version_re:
    - from: ([0-9]+.[0-9]+)
      to: \1
    - from: master
      to: '1.1'

checks:
  versions:
    extra_versions:
      - '1.1'
  required_workflows: false
  codespell: false
  prospector_config: false

publish:
  pypi:
    packages:
      - path: .
    versions:
      - version_tag
      - version_branch
      - rebuild

audit:
  snyk:
    files_no_install:
      - example-project/ci/requirements.txt
