name: Continuous integration

on:
  push:
    branches:
      - master
      - '[0-9]+.[0-9]+'
    tags:
      - '*'
    paths-ignore:
      - example-project/**
  pull_request:

env:
  HAS_SECRETS: ${{ secrets.HAS_SECRETS }}

jobs:
  main:
    runs-on: ubuntu-20.04
    name: Continuous integration
    timeout-minutes: 10
    if: "!startsWith(github.event.head_commit.message, '[skip ci] ')"

    steps:
      - run: docker system prune --all --force
      - run: dpkg -l
      - run: python3 -m pip freeze
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: camptocamp/initialise-gopass-summon-action@v2
        with:
          ci-gpg-private-key: ${{secrets.CI_GPG_PRIVATE_KEY}}
          github-gopass-ci-token: ${{secrets.GOPASS_CI_GITHUB_TOKEN}}
          patterns: pypi docker
        if: env.HAS_SECRETS == 'HAS_SECRETS'

      - run: echo "${HOME}/.local/bin" >> ${GITHUB_PATH}
      - run: cd c2cciutils; npm install
      - run: python3 -m pip install --user --requirement=requirements.txt
      - run: poetry build
      - run: python3 -m pip install --user --force-reinstall dist/c2cciutils-0.0.0-py3-none-any.whl[checks,publish]
      - run: rm -rf dist build

      - name: Checks
        run: c2cciutils-checks

      - name: Build
        run: make build
      - name: Checks
        run: make checks
      - name: Build example
        run: |
          cd example-project/
          make build
          make checks
        env:
          GITHUB_REPOSITORY: camptocamp/project

      - name: Publish
        run: c2cciutils-publish
        if: |
          env.HAS_SECRETS == 'HAS_SECRETS'

  k8s:
    runs-on: ubuntu-20.04
    name: Kubernetes
    timeout-minutes: 20
    if: "!startsWith(github.event.head_commit.message, '[skip ci] ')"

    steps:
      - run: docker system prune --all --force
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - run: echo "${HOME}/.local/bin" >> ${GITHUB_PATH}
      - run: cd c2cciutils; npm install
      - run: python3 -m pip install --user --requirement=requirements.txt
      - run: poetry build
      - run: python3 -m pip install --user --force-reinstall dist/c2cciutils-0.0.0-py3-none-any.whl[k8s]
      - run: rm -rf dist build

      - name: Install
        run: c2cciutils-k8s-install

      - name: Create DB
        run: c2cciutils-k8s-db --script=test/init.sql

      - run: kubectl run test-pod --restart=Never --namespace=default --image=busybox --command -- tail -f /dev/null

      - name: Wait
        run: c2cciutils-k8s-wait
      - name: Logs
        run: c2cciutils-k8s-logs
        if: always()

      - name: Clean the database
        run: c2cciutils-k8s-db --cleanup
        if: always()

  audit:
    runs-on: ubuntu-20.04
    name: Audit
    timeout-minutes: 10
    if: "!startsWith(github.event.head_commit.message, '[skip ci] ')"

    steps:
      - run: docker system prune --all --force
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - run: echo "${HOME}/.local/bin" >> ${GITHUB_PATH}
      - run: python3 -m pip install --user --requirement=requirements.txt
      - run: poetry build
      - run: python3 -m pip install --user --force-reinstall dist/c2cciutils-0.0.0-py3-none-any.whl[audit]

      - name: Audit
        run: c2cciutils-audit
        env:
          GITHUB_TOKEN: ${{ github.token }}
