name: Continuous integration

on:
  pull_request:
  push:
    paths-ignore:
      - 'example-project/**'

permissions:
  actions: write
  contents: write

env:
  HAS_SECRETS: ${{ secrets.HAS_SECRETS }}
  PYTHON_KEYRING_BACKEND: keyring.backends.null.Keyring

jobs:
  main:
    name: Continuous integration
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    if: "!startsWith(github.event.head_commit.message, '[skip ci] ')"

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: camptocamp/initialise-gopass-summon-action@v2
        with:
          ci-gpg-private-key: ${{secrets.CI_GPG_PRIVATE_KEY}}
          github-gopass-ci-token: ${{secrets.GOPASS_CI_GITHUB_TOKEN}}
          patterns: pypi docker
        if: env.HAS_SECRETS == 'HAS_SECRETS'

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - run: echo "${HOME}/.local/bin" >> ${GITHUB_PATH}
      - run: python3 -m pip install setuptools==68.0.0 wheel==0.45.1 packaging==25.0
      - run: cd c2cciutils; npm install
      - run: python3 ./setup.py egg_info --no-date bdist_wheel
      - run: python3 -m pip install dist/*.whl
      - run: rm -rf dist build

      - name: Checks
        run: c2cciutils-checks

      - name: Build
        run: make
      - name: Build example
        run: (cd example-project/; GITHUB_REPOSITORY=camptocamp/project make)

      - run: sudo chmod go+rw -R *.egg-info
      - run: pip freeze --all
      - name: Publish
        run: c2cciutils-publish
        if: env.HAS_SECRETS == 'HAS_SECRETS'
      - uses: actions/upload-artifact@v4
        with:
          name: Dist
          path: dist/c2cciutils-1.0-py3-none-any.whl
          retention-days: 1
        if: always()

      - run: git diff --exit-code --patch > /tmp/dpkg-versions.patch || true
        if: failure()
      - uses: actions/upload-artifact@v4
        with:
          name: Update dpkg versions list.patch
          path: /tmp/dpkg-versions.patch
          retention-days: 1
        if: failure()
      - name: Trigger changelog workflow
        uses: actions/github-script@v7
        with:
          script: |-
            if (process.env.GITHUB_REF_TYPE == 'tag') {
                console.log('Trigger changelog');
                await github.rest.repos.createDispatchEvent({
                    owner: 'camptocamp',
                    repo: 'c2cciutils',
                    event_type: 'changelog',
                });
            }
  k8s:
    name: Kubernetes
    runs-on: ubuntu-22.04
    timeout-minutes: 20
    if: "!startsWith(github.event.head_commit.message, '[skip ci] ')"

    steps:
      - run: pip install pyOpenSSL --upgrade
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - run: echo "${HOME}/.local/bin" >> ${GITHUB_PATH}
      - run: cd c2cciutils; npm install
      - run: python3 ./setup.py egg_info --no-date bdist_wheel
      - run: python3 -m pip install --user --force-reinstall dist/*.whl
      - run: rm -rf dist build

      - name: Install
        run: c2cciutils-k8s-install
      - name: Checks
        run: c2cciutils-checks

      - name: Wait
        run: c2cciutils-k8s-wait
      - name: Logs
        run: c2cciutils-k8s-logs
        if: always()

      - name: Clean the database
        run: c2cciutils-k8s-db --cleanup
        if: always()
