name: Continuous integration

on:
  push:
    branches:
      - master
      - '[0-9]+.[0-9]+'
    tags:
      - '*'
    paths-ignore:
      - example-project/**
  pull_request:

permissions:
  actions: write
  contents: write
  packages: write
  id-token: write

env:
  HAS_SECRETS: ${{ secrets.HAS_SECRETS }}

jobs:
  main:
    name: Continuous integration
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    if: "!startsWith(github.event.head_commit.message, '[skip ci] ')"

    steps:
      - run: docker system prune --all --force

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: camptocamp/initialise-gopass-summon-action@v2
        with:
          ci-gpg-private-key: ${{secrets.CI_GPG_PRIVATE_KEY}}
          github-gopass-ci-token: ${{secrets.GOPASS_CI_GITHUB_TOKEN}}
          patterns: pypi docker
        if: env.HAS_SECRETS == 'HAS_SECRETS'

      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - run: python3 -m pip install --requirement=requirements.txt
      - run: poetry build
        env:
          POETRY_DYNAMIC_VERSIONING_BYPASS: 0.0.0
      - run: python3 -m pip install --force-reinstall dist/c2cciutils-0.0.0-py3-none-any.whl[checks,publish]
      - run: rm -rf dist build

      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: "pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}\npre-commit-"
      - run: pre-commit run --all-files --color=always
      - run: git diff --exit-code --patch > /tmp/pre-commit.patch; git diff --color; git reset --hard || true
        if: failure()
      - uses: actions/upload-artifact@v5
        with:
          name: Apply pre-commit fix.patch
          path: /tmp/pre-commit.patch
          retention-days: 1
        if: failure()
      - name: Print the environment
        run: c2cciutils-env
        env:
          GITHUB_EVENT: ${{ toJson(github) }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: make build
      - name: Checks
        run: make checks
      - name: Build example
        run: |
          # Workaround to get the right Makefile
          docker builder prune --all --force
          cd example-project/
          GITHUB_REPOSITORY=camptocamp/project make build
          GITHUB_REPOSITORY=camptocamp/project make checks
        # Rebuild the right image
      - name: Build
        run: make build

      - name: Publish
        run: tag-publish
        if: env.HAS_SECRETS == 'HAS_SECRETS'

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: git diff --exit-code --patch > /tmp/dpkg-versions.patch; git diff --color; git reset --hard || true
        if: failure()
      - uses: actions/upload-artifact@v5
        with:
          name: Update dpkg versions list.patch
          path: /tmp/dpkg-versions.patch
          retention-days: 1
        if: failure()
      - name: Trigger changelog workflow
        uses: actions/github-script@v8
        with:
          script: |-
            if (process.env.GITHUB_REF_TYPE == 'tag') {
                console.log('Trigger changelog');
                await github.rest.repos.createDispatchEvent({
                    owner: 'camptocamp',
                    repo: 'c2cciutils',
                    event_type: 'changelog',
                });
            }
  k8s:
    name: Kubernetes
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    if: "!startsWith(github.event.head_commit.message, '[skip ci] ')"

    steps:
      - run: docker system prune --all --force
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - run: python3 -m pip install --requirement=requirements.txt
      - run: poetry build
        env:
          POETRY_DYNAMIC_VERSIONING_BYPASS: 0.0.0
      - run: python3 -m pip install --force-reinstall dist/c2cciutils-0.0.0-py3-none-any.whl[k8s]
      - run: rm -rf dist build

      - name: Install
        run: c2cciutils-k8s-install

      - name: Create DB
        run: c2cciutils-k8s-db --script=test/init.sql

      - run: kubectl run test-pod --restart=Never --namespace=default --image=busybox --command -- tail -f /dev/null

      - name: Wait
        run: c2cciutils-k8s-wait
      - name: Logs
        run: c2cciutils-k8s-logs
        if: always()

      - name: Clean the database
        run: c2cciutils-k8s-db --cleanup
        if: always()
